<ion-view view-title="Con.Tran.S.S">
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search">
			</label>
			<ion-radio ng-model="choice" ng-value="'A13'">A13</ion-radio>
		</div>
	</ion-content>
	<div class="row" style=" position: fixed; bottom: 20px;">
		<div class="col">
			<button class="button button-block button-balanced" ng-click="start(choice)">
			ΕΚΙΝΗΣΗ
			</button>
		</div>
	</div>
</ion-view>